.mainDiv {
  height: 100vh;
}
.mainSignUpDiv {
  display: flex;
  justify-content: center;
  background-color: #eff5e9;
  width: 100%;
}
.signUpDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: fit-content;
  margin: auto;
  padding: 30px;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 37px;
  border-radius: 20px;
}

.signUpText {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 42px;
  line-height: 75px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  text-align: center;
  color: #86d382;
}

.textField {
  width: 70%;
  margin-bottom: 20px !important;
}
.radioDiv {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.btn {
  padding: 7px 20px 7px 20px !important;
  font-family: "Poppins" !important;
  font-size: 18px !important;
  background-color: #86d382 !important;
}

.signUpLink {
  color: #86d382;
}
