.mainDiv{
  background-color: #f7f7f7;
  height: fit-content;
}

.featureCard{
  height: 320px !important;
  width: 15% !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px #a2f39d;
  /* border: 2px solid #86D382; */
}

.featureCard:hover{
  cursor: pointer;
  box-shadow: 3px 3px 3px #86D382;
}

.features{
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.featureLogo{
  width: 50% !important;
}
.featureName{
  margin-top: 10px;
  font-family: "Oswald" !important;
  color: #86D382 !important;
  font-weight: 600 !important;
  font-size: 30px !important;
}

.featureDesc{
  margin-top: 10px;
  text-align: center !important;
  font-family: "Poppins" !important;
  font-size: 14px !important;

}

.appointHeader{
  margin: 70px 0px 0px 100px;
  font-size: 26px;
  font-weight: 600;
  font-family: 'Poppins';
}


.appointments{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.appointmentCard{
  width: 87% !important;
  margin: auto !important;
   display: flex;
   flex-direction: row;
   flex-flow: row wrap;
   align-items: center;
   justify-content: center;
}

.appointmentWith{
  width: 30%;
  float: left;
  font-family: "Poppins" !important;
  color: #000000 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.appointmentTime{
   font-family: "Poppins" !important;
  color: #000000 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.btnDiv{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
  width: 30%;
  float: right;
}

.cancelBtn{
  color: #000000 !important;
  border: 2px solid #e60909 !important;
  
}

.joinBtn , .prescBtn{
  color: #000000 !important;
  border: 2px solid #86D382 !important;
  
}


.profApproveCard{
  margin: 50px;
  padding: 20px !important;
    width: 25% !important;
    height: 150px !important;
    display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 20px;
  border-radius: 10px !important;
    box-shadow: 1px 1px 1px #a2f39d;
}

.profImg{
  width: 35% !important;
}

.profLabels{
  display: flex !important;
  flex-direction: column !important;
  gap: 5px;
}

.profName{
  margin-top: 10px;
  font-family: "Oswald" !important;
  color: #000000 !important;
  font-weight: 600 !important;
  font-size: 22px !important;
}

.profApproveCard:hover{
  cursor: pointer;
  box-shadow: 3px 3px 3px #86D382;
}
.profSpec1{
  margin-top: -12px;
  font-family: "Poppins" !important;
  font-size: 16px !important;
}

.profSpec2{
  margin-top: 10px;
  font-family: "Poppins" !important;
  font-size: 14px !important;
}